---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import { type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'pages'>;
  items?: any[]; // The list of items to display
  baseSlug?: string;
}

const { entry, items = [], baseSlug } = Astro.props;

const { title, description } = entry.data;

let postCounter = 0;
---

<Layout title={title} description={description}>
  <article class="post-content">
    <header class="post-content-header">
      <h1 class="post-content-title">{title}</h1>
    </header>

    {description && (
      <p class="post-content-excerpt">{description}</p>
    )}

    <div class="post-feed">
        {items.map((post) => {
            postCounter++;
            return (
                <PostCard
                    count={postCounter}
                    post={post}
                    slug={baseSlug ? `${baseSlug}/${post.slug}` : post.slug}
                />
            );
        })}
    </div>
  </article>
</Layout>
